<!DOCTYPE html>
<html>
  <head>
    <title><%= IDP['title'] %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="robots" content="noindex" />
    <meta name="googlebot" content="noindex" />
    <meta name="AdsBot-Google" content="noindex" />
    <meta name="googlebot-news" content="nosnippet">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="../custom.css" rel="stylesheet">

    <% if params[:controller] == 'loading' %>
      <meta http-equiv="refresh" content="2" />
      <script type="text/javascript">
        function delayedRedirect() {
          window.location = "<%= "/complete/" + @transaction_id + "?redirect_path=" + @redirect_path %>"
        }
        setTimeout(delayedRedirect, 2000)
      </script>
    <% end %>
  </head>

  <body>
    <header class="header">
      <div class="container">
        <div class="row justify-content-md-center">
          <p><img src="/images/<%= ENV['IDP'] %>.png" width="auto" height="100px" alt="IDP logo"></p>
          <span style="padding-left: 200px;"></span>
          <p><img src="/images/Trustmark.svg" class="pt-4 mt-1" alt="Trustmark" /></p>
        </div>
      </div>
    </header>

      <%= yield %>

  </body>
</html>
