<!DOCTYPE html>
<html>
  <head>
    <title>Trust Framework IDP</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="robots" content="noindex" />
    <meta name="googlebot" content="noindex" />
    <meta name="AdsBot-Google" content="noindex" />
    <meta name="googlebot-news" content="nosnippet">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="custom.css" rel="stylesheet">
  </head>

  <body class="text-center">
    <%= yield %>
  </body>
</html>
